@page "/"

<EditForm Model="@userVm" OnValidSubmit="@HandleValidSubmit">
    <CustomValidator @ref="@customValidator"></CustomValidator>
    <ValidationSummary/>
    <ObjectGraphDataAnnotationsValidator />
    
    <InputText id="username" @bind-Value="@userVm.Username"/>
    <ValidationMessage For="@(() => userVm.Username)"/>

    <AddressInput Vm="userVm.AddressVm"></AddressInput>

    <button type="submit">save</button>
</EditForm>